
.menu{
    font-family: 'Roboto', sans-serif;
    margin:0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    display: block;
    padding:20px 15px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
}
.menu a:hover{
    color:rgb(249,205,63);
}


.side-drawer{
    height: 100%;
    background-color: rgb(38,37,51);
    min-width: 50%;
    max-width: 200px;
    position: fixed;
    top:0;
    right:0;
    bottom: 0;
    z-index: 10;
    transform: translateX(150%);
    transition: 0.4s ease-in-out ;
}
.side-drawer.open{
    transform: translateX(0);
}
.close_menu{
    position: absolute;
    top:20px;
    right: 20px;
    color:white;
    font-size: 20px;
    cursor:pointer;
}

.close_menu:hover{
    color:rgb(249,205,63);
    transition: .5s;
}