.aside_box{
    width: 100%;
    background-color: rgba(255,255,255,0.1);
    margin: 50px 0;
    padding: 30px 25px 0;
}

.search_posts .search_input{
    position: relative;
}
.search_posts{
    width: 100%;
    height: 35px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 20px;
}
.search_posts input{
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0);
    color:rgb(255,255,255);
    border:none;
    width: 90%;
    height: 35px;
    padding-left:15px;
    font-size: 17px;
}
.search_input{
    padding-bottom: 20px;
}
.search_posts input::placeholder{
    color: rgb(255,255,255);
}
.search_button{
    position: absolute;
    right: 15px;
    top:7px;
    background-color: rgba(255,255,255,0);
    border:none;
    font-size: 17px;
    color:rgb(255,255,255);
    cursor: pointer;
}
.search_button i:hover{
   color: rgba(0,0,0);
}
.search_button:focus, .search_posts input:focus {
    outline:none;
}
.white_line{
    text-decoration: underline;
    width: 100%;
    height: 1px;
    background-color: rgba(255,255,255, 0.1);
}

p.name_of_author{
    color:rgb(255,255,255);
    font-size: 20px;
    font-weight: 600;
    margin:20px 0;
}
.author_posts {
    color:#929292;
    margin:50px 0;
    text-align: center;
}
.social_net_icon{
    display: flex;
    justify-content: space-around;
    margin:0 auto;
    padding:20px 0;
    width: 200px;
}
.social_net_icon li a{
    font-size: 15px;
    color:rgb(255,255,255)
}
.social_net_icon li a:hover{
    color:rgb(249,205,63);
}
.popular_posts_list{
    margin: 20px 0;
}
.btn_posts{
    width: 100%;
    height: 40px;
    background-color: rgb(249,205,63);
    border:none;
    font-weight: 600;
    font-size: 17px;
    color:rgb(38,37,51);
    margin-bottom: 20px;
}
.posts_list_item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.posts_list_item p{
    padding-left: 15px;
    color: rgb(255,255,255);
    font-weight: 600;
}
.name_of_pop_posts span{
    color:#929292;
    font-weight: 300;
    padding-top:10px
}
.name_of_pop_posts{
    display: flex;
    flex-direction: column;
}
.categoty_post_list{
    display: flex;
    justify-content: space-between;
    color:#929292;
    padding-bottom: 10px
}
.white_dots_line{
    border:1px dotted white;
    margin-bottom: 20px;
}
.text_subscribe{
    color:#929292;
    text-align: center;
    margin-bottom: 20px;
}
.box_subscribe{
    width: 100%;
    height:35px;
    background-color: rgb(255,255,255);
    position: relative;
    margin-bottom: 20px;
}
.box_subscribe input{
    width: 60%;
    height: 100%;
    border:none;
    color:rgb(0, 0, 0);
    padding-left:15px;
    font-size: 15px;
}
.box_subscribe input:focus{
    outline: none;
}
.subscribe_button{
    position: absolute;
    height: 35px;
    border-radius:0;
    border:none;
    width: 40%;
    top:0;
    right: 0;
    background-color: #f9cc41;
    color:rgb(255,255,255)
}
.list_of_tags{
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    padding-bottom: 20px;
}
.list_of_tags div{
    background-color:rgb(255,255,255);
    margin:5px;
    padding:10px
}
.list_of_tags div:hover{
    background-color: #f9cc41;
}
@media(min-width:768px){
    .box_subscribe input{
        width: 80%;
    }
    .subscribe_button{
        width: 20%;
    }
}
@media(min-width:992px){
    .aside_box{
        width:100%;
    }
    .box_subscribe input{
        width: 60%;
    }
    .subscribe_button{
        width: 40%;
    }
    .popular_posts_list{
        margin: 40px 0;
    }

}
