/* .comment_post{
    text-align: center;
}
.comments_list{
    width: 100%;
    height: auto;
    border:1px solid rgba(255,255,255,.1);
    background-color: rgba(0,0,0,0.2);
    margin: 20px 0;
}

.comment_list_input {
    display:flex;
    align-items: center;
    margin:5px
}
.comment_list_input input{
    border:1px solid rgba(255,255,255,.1);
    background-color: rgba(0,0,0,0.2);
    color:white;
    height: 35px;
}
.comment_list_input button{
    height: 35px;
    border:none;
    cursor: pointer;
    background-color: rgb(241, 239, 106);
    color:rgb(0, 0, 0);
}
.comments_item{
    padding:10px;

    border-bottom: 1px solid rgba(255,255,255,.1);
    display: flex;
}
.user{
    display: flex;
    flex-direction: column;
}
.user{
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.users_img i{
    font-size: 20px;
    color:rgb(255, 255, 255);
    padding:10px 20px;
}
.users_name{
    font-size: 13px;
    color:rgb(241, 239, 106);
   
}
.text_comment span{
    color:rgb(255, 255, 255);
    font-size: 13px; 
    text-align: start;
    padding-left: 15px;
}    */