.header_img{
    background: url(hero-1.png) no-repeat 50% 50%;
    background-size: cover;
    width:100%;
    height: 500px;
    position:relative;
}

.blog{
    position: absolute;
    left:50%;
    bottom:50%;
    transform: translate(-50%,50%);
    text-align:center;
    background-color:rgba(0,0,0,0.4);
    padding:50px;
}
.blog p{
    padding-bottom:20px;
    color:rgb(255, 255, 255);
    font-weight: 400;
    font-size:40px;
}
.blog button{
    padding:15px;
    height: 40px;
    width:200px;
    background-color:rgb(249,204,65);
    border:none;
    position: relative;
    cursor:pointer;
}
.blog button:after, .blog button:before{
    content: "";
    display:block;
    width:20px;
    height: 2px;
    background-color:rgb(249,204,65);
    position: absolute;
    top:50%;
}
.blog button:before{
    left:-20px;
}
.blog button:after{
    right: -20px;
}
.link{
    text-decoration: none;
    color:rgb(0,0,0);
    font-weight: 600;
}
.row_category{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 50px;

}
.title_port_category p:first-child{
    font-size:40px;
    color:rgb(249,204,65);
    font-weight: 500;
    padding-top:50px;
    padding-bottom: 20px;
    text-align: center;
}
.title_port_category p:last-child{
    color:rgb(117, 115, 115);
    line-height: 30px;
    padding: 10px 0 30px 0;
    text-align: center;
}
.pic_portfolio_category img{
    width:100%;
}

.category_bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.category_bottom div{
   margin-top:15px;
    cursor:pointer;
}
.category_bottom div:hover{
    color:rgb(241, 239, 106)
}
.data_post:hover:before{
    background-color:rgb(241, 239, 106)
}
.data_post{
    margin-left:35px;
    color:rgb(249,204,65);
    position:relative;
}
.data_post:before{
    content:"";
    width:20px;
    height: 2px;
    background-color:rgb(249,204,65);
    display: block;
    position: absolute;
    top:50%;
    left:-25px;
}
.fa-eye, .fa-user, .fa-comment{
    margin-right:10px;
}
.views_post, .user_post,.comment_post{
    color:rgb(249,204,65);
}
.name_of_category{
    color:rgb(255, 255, 255);
    text-align: center;
    font-size: 35px;
    padding-top: 50px;
}
.button_category{
    display: flex;
    justify-content: center;
}
.button_category a{
    padding-right: 5px;
}
.button_category div{
    padding-left: 5px;
}
@media(min-width:992px){
    .row_category{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .category_bottom{
        flex-direction: row;
        margin-top:10px;
        justify-content: space-around;
    }
    .pic_portfolio_category img{
        width:90%;
        padding-top: 30px;
    }    
   
}
@media(min-width:1200px){
    .category_bottom{
        margin-top:30px
    }
    
}